@model CreativeTim.Argon.DotNetCore.Free.Models.DynamicNav.NavigationItem
@using System.Web.Mvc.Html


@*@Ajax.BeginForm("SaveNavigationItem", "DynamicNavigation", new AjaxOptions { HttpMethod = "POST", OnBegin = "SubmitStart", OnComplete = "SubmitEnd" }, new { enctype = "multipart/form-data" })*@

<form id="saveNavigationForm" action="/DynamicNavigation/SaveNavigationItem" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    <div class="row mt-3">
        <div class="col-xl-12">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-3">
                            <h6 class="text-uppercase text-muted ls-1 mb-1">Create/Edit</h6>
                            <h2 class="mb-0">Navigation Item</h2>
                        </div>
                        <div class="col-lg-6 col-md-9 text-right">
                            <button type="submit" class="btn btn-success">Save</button>
                            <button onclick="history.back(); return false;" class="btn btn-warning">Dismiss</button>
                        </div>
                    </div>
                </div>
                <div class="card-body bg-secondary">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label>
                                Code <b class="text-red">*</b>
                            </label>
                            <input id="Code" name="Code" value="@ViewBag.SerialCode" class="form-control form-control-alternative " readonly required />
                        </div>

                        @*<div class="form-group col-md-8">
                                <label>
                                    Address <b class="text-red">*</b>
                                </label>
                                @Html.DropDownList("AddressID", ViewBag.AddressesList as SelectList, "Select an Address", new { @class = "form-control" })
                            </div>*@
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label>Name <b class="text-red">*</b></label>
                            @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control", @required = true } })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
    <script>
        $(document).ready(function () {
            $('#saveNavigationForm').submit(function (event) {
                event.preventDefault(); // Prevent the form from submitting normally

                // Serialize form data
                var formData = new FormData(this);

                // AJAX request
                $.ajax({
                    url: $(this).attr('action'),
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    beforeSend: function () {
                        // Function to execute before sending the request (optional)
                        SubmitStart();
                    },
                    success: function (data) {
                        // Function to execute if the request succeeds
                        SubmitEnd(data);
                    },
                    error: function (xhr, status, error) {
                        // Function to execute if the request fails
                        console.error(error);
                    },
                    complete: function () {
                        // Function to execute after the request completes (after success/error)
                    }
                });
            });
        });

        function SubmitStart() {
            // Code to execute before sending the AJAX request
        }

        function SubmitEnd(data) {
            // Code to execute after the AJAX request succeeds
        }

       

        //function SubmitEnd(data) {
        //    spinner.hide()
        //    if (data.responseJSON["isSuccess"] == "True") {
        //        Swal.fire({
        //            title: data.responseJSON["Title"],
        //            text: data.responseJSON["Message"],
        //            type: data.responseJSON["Type"],
        //            timer: 1500,
        //            showCancelButton: false,
        //            showConfirmButton: false,
        //            onClose: () => {
        //                $('a[href="#/Navigation/DynamicNavigation"]').click()
        //            }
        //        })
        //    }
        //    else {
        //        Swal.fire(data.responseJSON["Title"], data.responseJSON["Message"], data.responseJSON["Type"])
        //    }
        //}

    </script>
